<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/demo</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Admin123</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.model.entity.TblAssistantEntity"/>
    <mapping class="com.model.entity.TblClassEntity"/>
    <mapping class="com.model.entity.TblStudentEntity"/>
    <mapping class="com.model.entity.TblTeacherEntity"/>
  </session-factory>


</hibernate-configuration>